* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, main, footer */
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: logo/info and invoice */
  padding: 1rem;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 0.6rem;
}

.header__image {
  width: 80px;
}

.header__invoice {
  align-self: top;
  text-align: right;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: client details and bill summary */
  padding: 20px;
}

.summary__client {
  grid-column: 1 / 2;
}

.summary__bill {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  text-align: center;
}

.summary__uppercase {
  text-transform: uppercase;
}

.summary__date,
.summary__due,
.summary__amount {
  padding: 3rem 2rem;
  border: 1px solid grey;
}

.summary__amount,
.summary__date {
  border-right: none;
}

.items {
  display: grid;
  grid-template-columns: repeat(
    4,
    auto
  ); /* Four columns for items, qty, rate, amount */
  padding: 20px;
  text-align: center;
}

.items__container {
  display: contents; /* Allows for direct placement of children in the grid */
}

.payment {
  display: grid;
  grid-template-columns: 1fr auto; /* Two columns for payment instructions and total due */
  align-items: center;
  padding: 1rem;
}

.footer {
  text-align: right;
  padding: 1rem;
}
