* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  padding-bottom: 0;
}

main {
  flex-grow: 1;
}
/* This will make the main content grow to fill the remaining space between the header and footer -- note for self, thanks Josh!
  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.header__image {
  width: 80px;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

p {
  padding: 0.1rem 0;
  font-size: 0.9rem;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.summary__uppercase {
  text-transform: uppercase;
}

.summary__center {
  text-align: center;
}

.summary__bill {
  display: flex;
  justify-content: space-between;
}

.summary__amount,
.summary__due,
.summary__date {
  padding: 3rem 2rem;
  border: 1px solid grey;
}

.summary__amount,
.summary__date {
  border-right: none;
}

.items {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.items__container {
  display: flex;
  flex-direction: column;
}

.items__center {
  text-align: center;
}

.items__right {
  text-align: right;
}

.items__text--uppercase {
  text-transform: uppercase;
}

.payment {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
